<header class="header">
    <a href="/" class="headerlink">
        <h1>Novel Love</h1>
    </a>
</header>

{{!-- LEARN MORE --}}
{{!-- #if and #each: https://handlebarsjs.com/guide/builtin-helpers.html --}}