{{#> layout }}
<main id="books">
    <section>
        <div>
            <h1>Information about your books</h1>
            <p>Hi, {{newUser.name}} We'd like to know more about what books and genres you like so we can match you to
                people who have the
                same book interests as you.</p>
            <form method="POST" action="/booksform" id="books" enctype="multipart/form-data">
                <div>
                    <h2>What are your 3 favourite book genres?</h2>
                    <div>
                        <label for="genre1">Genre 1</label>
                        <select name="genre" id="genre1">
                            <option value="">Choose a genre</option>
                            <option value="Self-help">Self-help</option>
                            <option value="Classic Literature">Classic Literature</option>
                            <option value="Thriller/Horror">Thriller/Horror</option>
                            <option value="Romance Novels">Romance Novels</option>
                            <option value="Non-fiction">Non-fiction</option>
                        </select>
                    </div>
                    <div>
                        <label for="genre2">Genre 2</label>
                        <select name="genre" id="genre2">
                            <option value="">Choose a genre</option>
                            <option value="Self-help">Self-help</option>
                            <option value="Classic Literature">Classic Literature</option>
                            <option value="Thriller/Horror">Thriller/Horror</option>
                            <option value="Romance Novels">Romance Novels</option>
                            <option value="Non-fiction">Non-fiction</option>
                        </select>
                    </div>
                    <div>
                        <label for="genre3">Genre 3</label>
                        <select name="genre" id="genre3">
                            <option value="">Choose a genre</option>
                            <option value="Self-help">Self-help</option>
                            <option value="Classic Literature">Classic Literature</option>
                            <option value="Thriller/Horror">Thriller/Horror</option>
                            <option value="Romance Novels">Romance Novels</option>
                            <option value="Non-fiction">Non-fiction</option>
                        </select>
                    </div>
                    <label for="currentbook">Current book you're reading</label>
                    <input type="text" id="currentbook" name="currentBook">
                    <button> Register </button>
                </div>
                <div>
                    <h2>Upload a picture of yourself</h2>
                    <label for="profilepicture">Upload a picture of yourself</label>
                    <input type="file" id="profilepicture" name="profilepicture" accept="image/png, image/jpeg">
                    <p><img id="picture-profile" /></p>

                </div>

            </form>
        </div>
    </section>
</main>
{{/layout}}