{{#> layout }}
<main>
    <section>
        <h1> Matches</h1>
        <p>Hi {{user.firstname}}</p>
        <div class="matches">
            {{#each users}}
            <article class="match">
                <img src="/uploads/{{this.profilepicture}}" alt="Profile Picture" width="200">
                <p>{{this.firstname}}{{this.lastname}}</p>
            </article>
            {{/each}}
        </div>
    </section>
</main>
{{/layout}}